## .NET / C#
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## MSBuild
*.log
[Dd]ebugPublic/
[Rr]eleases/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

## .NET publish
publish/

## User-specific files
*.DotSettings.user

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

## MAUI specific
*.ipa
*.apk
*.aab
*.appx
*.appxbundle
*.msix
*.msixbundle
*.msixupload

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
