<header class="store-nav shadow-sm">
    <div class="container-fluid store-nav-container">
        <div class="store-nav-bar">
            <a class="navbar-brand store-brand" href="">Testedecriacao</a>

            <input id="main-nav-toggle"
                   type="checkbox"
                   class="store-nav-toggle"
                   title="Abrir menu"
                   aria-controls="main-nav-links" />

            <label for="main-nav-toggle" class="store-nav-hamburger d-md-none" aria-label="Abrir ou fechar menu">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </label>

            <nav class="store-nav-links" id="main-nav-links">
                <NavLink class="nav-link store-nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>

                <NavLink class="nav-link store-nav-link" href="counter">
                    Counter
                </NavLink>

                <NavLink class="nav-link store-nav-link" href="weather">
                    Weather
                </NavLink>
            </nav>
        </div>
    </div>
</header>
