@namespace Testedecriacao.Shared.Components.Atoms

<span class="badge bg-@Variant @CssClass">@ChildContent</span>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Variant { get; set; } = "primary";
    [Parameter] public string? CssClass { get; set; }
}
