.solar-container {
    background-color: #010208;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
}

::deep #solarCanvas {
    width: 100%;
    height: 100%;
    display: block;
    background: #010208;
}
